<html>
<head>
     <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="http://cdn.i254.co.ke/css/materialize.css">
    <link rel="stylesheet" type="text/css" href="http://cdn.i254.co.ke/css/mail.css">
    </head>
    <body>
        <div id="cf">
  <img id="pic" class="bottom col s12 m12 l12" src="http://cdn.i254.co.ke/img/white.jpeg" />
  <img id="pic" class="top" src="http://cdn.i254.co.ke/img/dsk.jpg" />

        <div class="header-words">
        <div class="container">
            <div class="row">
            <div class="header-text-large col s12 m12 l12">
                <span class="website-title col s12 l12 m12">&lt; i254/ &gt;</span>
                <span class="header-large-text col s12 l12 m12"> Achieve Better Marketing Results with Clean & Beautiful Design</span><br><br>
                <span class="header-small-text col s12 m12 l12">&lt; i254/ &gt; Your starting point for building successful software products.</span>
                </div>
                <br><br>
                 <div class="button-get-started col s2 m2 l2" onclick="dome()">
            Get started
            </div>
                <div class="spacer col s1 m1 l1"></div>
                  <div class="button-get-started col s2 m2 l2" onclick="dome()">
            Tell Me More
            </div>


            </div>
            </div>


        </div>

<div  class="three-modules">
        <div class="container">
    <div class="row">
        <p class="what-we-do col s12 m12 l12">What we do</p>
        <span class="what-we-do-small col s12 m12 l12">
        WE HAVE INNOVATIVE SERVICES TO HELP YOUR BUSINESS
        </span>

            <div class="three-module-item col s4 m4 l4">
                <p class="icon-module col s12 m12 l12">
                <img src="http://cdn.i254.co.ke/img/cone.png">

                </p>
                <p class="icon-module-title col s12 m12 l12">
                Stand out from the crowd
                </p>
                <p class="col s12 m12 l12">
                Be enthusiastic. Be positive. Be engaging. Be passionate. An upbeat, professional attitude stands out
                </p>

        </div>
        <div class="three-module-item col s4 m4 l4">
                <p class="icon-module col s12 m12 l12">
                <img src="http://cdn.i254.co.ke/img/clock.png">

                </p>
                <p class="icon-module-title col s12 m12 l12">
Get tech jobs fast
                </p>
                <p class="col s12 m12 l12">
Get real time job offers and job announcement with us, get hired without
                    much hustle.
                </p>

        </div>        <div class="three-module-item col s4 m4 l4">
                <p class="icon-module col s12 m12 l12">
                <img src="http://cdn.i254.co.ke/img/line-graph.png">

                </p>
                <p class="icon-module-title col s12 m12 l12">
                Post your jobs for free
                </p>
                <p class="col s12 m12 l12">
                    Get access to a database of world class developers,and if thats not enough
                    post a job absolutely free
                </p>

        </div>
            </div>
    </div>
        </div>

        <div class="footer-sec-large">
        <div class="container">
            <div class="row">
            <div class="copyright-sec-left col s4 m4 l4">
                <span class="copyright-text col s12 m12 l12">
                &copy; 2016
                </span>
                <span class="copyright-owner col s12 m12 l12">
                SITE DEVELOPED BY:Benson Mburu
                </span>
                </div>
                <div class="more-details col s4 m4 l4">
                    <span class="col s6 m6 l6">
                        <i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp;
                        +254732 933 636</span>
                    <span class="col s6 m6 l6">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;&nbsp;

                        info@i254.com</span>

                </div>
                <div class="social-links col s4 m4 l4">
                <span class="col s3 m3 l3">

                    </span>
                    <span class="col s2 m2 l2">
                    <i class="fa fa-github fa-2x" aria-hidden="true"></i>
                    </span>
                    <span class="col s2 m2 l2">
                    <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
                    </span>
                     <span class="col s2 m2 l2">
                    <i class="fa fa-google-plus fa-2x" aria-hidden="true"></i>
                    </span>

                </div>
            </div>
            </div>
        </div>


        </div>
    </body>
</html>
