<html style="-webkit-box-sizing: border-box;box-sizing: border-box;font-size: 100%;">
<head style="-webkit-box-sizing: inherit;box-sizing: inherit;">
     <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css" style="-webkit-box-sizing: inherit;box-sizing: inherit;">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous" style="-webkit-box-sizing: inherit;box-sizing: inherit;">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation-flex.css" style="-webkit-box-sizing: inherit;box-sizing: inherit;">
    <script src="https://code.jquery.com/jquery-1.12.4.js" style="-webkit-box-sizing: inherit;box-sizing: inherit;"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js" style="-webkit-box-sizing: inherit;box-sizing: inherit;"></script>
    <link rel="stylesheet" type="text/css" href="http://cdn.i254.co.ke/css/prospect_mail.css" style="-webkit-box-sizing: inherit;box-sizing: inherit;">
    <script src="http://cdn.i254.co.ke/js/datepicker.js" style="-webkit-box-sizing: inherit;box-sizing: inherit;"></script>
    </head>
    <body style="-webkit-box-sizing: inherit;box-sizing: inherit;margin: 0;padding: 0;font-family: 'Raleway', sans-serif;font-weight: normal;line-height: 1.5;color: #0a0a0a;background: #fefefe;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;">
     <div class="head-band" style="-webkit-box-sizing: inherit;box-sizing: inherit;height: 60px;color: white;background: black;width: 100%;text-align: center;">
        <div class="container" style="-webkit-box-sizing: inherit;box-sizing: inherit;">
         <div class="row" style="-webkit-box-sizing: inherit;box-sizing: inherit;max-width: 75rem;margin-left: auto;margin-right: auto;display: flex;-webkit-flex-flow: row wrap;-ms-flex-flow: row wrap;flex-flow: row wrap;">

            <div class="head-banner-band small-12 medium-12 large-12" style="-webkit-box-sizing: inherit;box-sizing: inherit;">
             Thank you for choosing &lt;i254&gt;
             </div>
             <div class="head-small-band small-12 medium-12 large-12" style="-webkit-box-sizing: inherit;box-sizing: inherit;">
             Hi {name} Please fill in the following info to help us tailor your software to your needs
             </div>
            </div>
         </div>
        </div>
        <div class="formbody" style="-webkit-box-sizing: inherit;box-sizing: inherit;width: 100%;margin-top: 40px;">
        <div class="container" style="-webkit-box-sizing: inherit;box-sizing: inherit;">
            <div class="row" style="-webkit-box-sizing: inherit;box-sizing: inherit;max-width: 75rem;margin-left: auto;margin-right: auto;display: flex;-webkit-flex-flow: row wrap;-ms-flex-flow: row wrap;flex-flow: row wrap;">
            <div class="form-sec col s12 m12 l12small-12 medium-12 large-12" style="-webkit-box-sizing: inherit;box-sizing: inherit;">
                <form class="form-large" action="" enctype="multipart/form-data" method="post" style="-webkit-box-sizing: inherit;box-sizing: inherit;margin-left: 25%;">
                <textarea class="form-inputs small-6 medium-6 large-6" name="company" placeholder="what does your company do?" style="-webkit-box-sizing: inherit;box-sizing: inherit;color: inherit;font: inherit;margin: 0;overflow: auto;height: auto;min-height: 50px;border-radius: 0;text-align: center;margin-bottom: 20px;"></textarea>
                    <span class="option-psd small-6 medium-6 large-6" style="-webkit-box-sizing: inherit;box-sizing: inherit;">
                    Do you have any psd designs?
                    </span><br style="-webkit-box-sizing: inherit;box-sizing: inherit;">
                    <span class="option-psd-options small-6 medium-6 large-6" style="-webkit-box-sizing: inherit;box-sizing: inherit;">
                    <input type="radio" name="psd" value="Yes" style="-webkit-box-sizing: border-box;box-sizing: border-box;color: inherit;font: inherit;margin: 0;line-height: normal;padding: 0;"> YES<br style="-webkit-box-sizing: inherit;box-sizing: inherit;">
                        <input type="radio" name="psd" value="no" style="-webkit-box-sizing: border-box;box-sizing: border-box;color: inherit;font: inherit;margin: 0;line-height: normal;padding: 0;"> &nbsp;No
                    </span><br style="-webkit-box-sizing: inherit;box-sizing: inherit;">
                    <span class="cont-regular small-6 medium-6 large-6" style="-webkit-box-sizing: inherit;box-sizing: inherit;">
                    Are you ready to begin immediately?
                    </span>
                    <span class="checks-begin small-6 medium-6 large-6" style="-webkit-box-sizing: inherit;box-sizing: inherit;"><br style="-webkit-box-sizing: inherit;box-sizing: inherit;">
                    <input type="radio" name="begin" value="yes" style="-webkit-box-sizing: border-box;box-sizing: border-box;color: inherit;font: inherit;margin: 0;line-height: normal;padding: 0;"> &nbsp;Yes<br style="-webkit-box-sizing: inherit;box-sizing: inherit;">
                    <input type="radio" name="begin" value="no" style="-webkit-box-sizing: border-box;box-sizing: border-box;color: inherit;font: inherit;margin: 0;line-height: normal;padding: 0;">&nbsp; No

                    </span><br style="-webkit-box-sizing: inherit;box-sizing: inherit;">
                    <span class="small-6 medium-6 large-6" style="-webkit-box-sizing: inherit;box-sizing: inherit;">Select a date when you want the project to start</span><br style="-webkit-box-sizing: inherit;box-sizing: inherit;">
                    <span class="date-pick small-6 medium-6 large-6" style="-webkit-box-sizing: inherit;box-sizing: inherit;">
                    <input type="text" class="icon-place small-6 medium-6 large-6" placeholder="&#xf073;" id="datepicker" style="-webkit-box-sizing: inherit;box-sizing: inherit;color: inherit;font: inherit;margin: 0;line-height: normal;font-family: FontAwesome;font-style: normal;font-weight: normal;text-decoration: inherit;">

                    </span>
                    <span class="small-6 medium-6 large-6" style="-webkit-box-sizing: inherit;box-sizing: inherit;">Would you like to meet with the team to discuss this further?</span><br style="-webkit-box-sizing: inherit;box-sizing: inherit;">
                    <span class="date-pick small-6 medium-6 large-6" style="-webkit-box-sizing: inherit;box-sizing: inherit;">
                    <input type="radio" name="meet" class="small-6 medium-6 large-6" style="-webkit-box-sizing: border-box;box-sizing: border-box;color: inherit;font: inherit;margin: 0;line-height: normal;padding: 0;">&nbsp;Yes<br style="-webkit-box-sizing: inherit;box-sizing: inherit;">
                        <input type="radio" name="meet" value="no" style="-webkit-box-sizing: border-box;box-sizing: border-box;color: inherit;font: inherit;margin: 0;line-height: normal;padding: 0;"> &nbsp;No let's just begin

                    </span><br style="-webkit-box-sizing: inherit;box-sizing: inherit;"><br style="-webkit-box-sizing: inherit;box-sizing: inherit;">
                    <span style="-webkit-box-sizing: inherit;box-sizing: inherit;">
                    <input type="submit" class="button-send small-3 medium-3 large-3" value="submit" name="submit" style="-webkit-box-sizing: inherit;box-sizing: inherit;color: white;font: inherit;margin: 0;line-height: normal;background-color: darkgray;border-radius: 25px;height: 30px;width: 100%;-webkit-appearance: button;cursor: pointer;">
                    </span>
                </form>
                </div>
            </div>
            </div>
        </div>

    </body>
</html>
